@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,500&display=swap');

body {
    margin: 0;
    
}

.map-and-contact {
    align-items: flex-end;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.navbar-container {
    height: 70px;
    background-color: rgba(41,34,28,1);
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:200;
}

.logo-image {
    width: 127px;
    margin-left: 2rem;
}

.nav-link {
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
    color: white;
}

.nav-link:hover {
    color: #F27048;
    cursor: default;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-right: 2rem;
    align-items: center;
}


.hero-image {
    position:relative;
    z-index: -20;
    margin-top: -5rem;
    width: 100%;
}


.nav-and-hero {
    height: 100vh;
}

.hero-title-container {
    position: absolute;
    top: 20rem;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

.hero-title {
    color: white;
    font-family: 'Albert Sans', sans-serif;
    font-size: 95px;
    text-shadow: 1px 4px 38px rgba(0,0,0,0.73);
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 700;
}

.hero-title-top {
    font-size: 60px;
    
    color: white;
    margin-bottom: 0rem;
    font-family: 'Crimson Pro', serif;
    font-style: italic;
}

.hero-title-bottom {
    font-family: 'Crimson Pro', serif;
    color: white;
    font-size: 24px;
    margin-top: 0;
}

.order {
    padding: 10px;
    background-color: #F27048;
    border-radius: 10px;
    margin-right: 2rem;
    color: white;
}


.menu-section-container {
    background-color: rgb(41,34,28);
    display: flex;
    justify-content: center;
    min-height:1200px;
}

.extra-bottom {
    margin-bottom: 3rem !important;
}

.menu-container {
    display: flex;
   
    flex-direction: column;
    padding-left:6rem;
    padding-right: 6rem;
    width: 100% ;
}

.menu-title {
    color: white;
    font-size: 62px;
    font-family: 'Albert Sans', sans-serif;
    text-align: center;
    font-weight: 700;
}

.menu-selection-item {
    font-size: 28px;
    font-family: 'Albert Sans', sans-serif;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    color: white;
    border: none;
}



.menu-selection-container {
    display: flex;
    justify-content: space-between;
}

.menu-item-title {
    color: white;
    font-size: 32px;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 0;
    cursor: default;
}

.menu-item-subtitle {
    cursor: default;
    margin-top: 0rem;
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    color: white;
    font-size: 25px;
    margin-bottom: 3.5rem;
}

.menu-items-container {
    margin-top: 3rem;
    display: flex;
}

.soup-title {
    font-size: 36px;
    color: #F27048;
    font-family: 'Albert Sans', sans-serif;
}

.active {
    color: #F27048;
}


.map-and-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    align-items: baseline;
    padding-right: 5rem;
    padding-top: 7rem;
    padding-bottom: 4rem;
    background-color: #EDEDED;
}

.contact-container {
    padding-left: 4rem;
    margin-bottom: auto;
}

.location-title {
    font-size: 45px;
    font-family: 'Albert Sans', sans-serif;
    color: #29221C;
    font-weight: 700;
}

.hours-title {
    font-weight: 700;
    font-size: 45px;
    font-family: 'Albert Sans', sans-serif;
    color: #29221C;
}

.contact-container p {
    font-size: 20px;
    font-family: 'Albert Sans', sans-serif;
}

.menu-container {
    position: relative;

}

.menu-anchor {
    position: absolute;
    top: -70px;
    left: 0;
}

.mapouter {
    top: 30px;
}

@media only screen and (max-width:1300px) {

    .navbar-container {
        flex-direction: column;
        justify-content: center;

    }

    .logo-image {
        width: 50px;
    }

    .hero-title-container {
        top: 7rem;
        
    }

    .nav-links {
        gap: 25px;
    }

    .menu-section-container {
        margin-top: -0.5rem;
    }

    .order {
        margin-right: 0rem;
    }

    .nav-links {
        margin-right: 0rem;
    }
    .menu-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .menu-selection-item {
        font-size: 12px;
    }

    .hero-title-top {
        font-size: 20px;
    }

    .hero-title {
        font-size: 30px;
    }

    .nav-link {
        font-size: 10px;
    }
    .hero-image {
        display:none;
    }

    .nav-and-hero {
        background-image: url("https://thegrill.bulldog.rocks/admin/wp-content/uploads/2022/10/TheGrill-Website-HomeSplash.png");
        background-size: cover;
        height:350px;
    }

    .mapouter{
        top: 0px !important;
        overflow:hidden;
    
        padding-bottom:56.25%;
    
        position:relative;
        left: -1rem;
        height:11px !important;
        width: 170px !important;
    
    }
    .map-and-contact {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
    }
    .contact-container {
        padding-left: 1rem;
    }

    .menu-title {
        font-size: 40px;
    }

    .location-title {
        font-size: 19px;
    }

    .location-container p {
        font-size: 10px;
        font-weight: 700;
    }

    .hours-title {
        font-size: 19px;
    }

    .hours-container p {
        font-size: 10px;
        font-weight: 700;
    }
    
    .mapouter iframe{
    
        left:0;
    
        top:0;
    
        height:100%;
    
        width:100%;
    
        position:absolute;
    
    }

    .menu-item-title {
        font-size: 25px;
    }

    .menu-item-subtitle {
        font-size: 19px;
    }
}